body {
  background-image: url("https://wallpaperaccess.com/full/521111.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: 100%
}
.photo {
  height: 200px;
  width: 200px;
}